// colors
$prim-color: #f75311;
$sec-color: #374249;
$text-color: #797979;
$h-color: #374249;
$btn-hov: #cfd1d3;
$sec-bck: #f3f7f9;

$white: #fff;
$black: #000;

// fonts
$prim-font: 'Roboto', sans-serif;
